parameters:
    level: 8
    paths:
        - src
    bootstrapFiles:
        - phpstan-bootstrap.php
    ignoreErrors:
        - '#Call to undefined function.*#'
        - '#Function.*not found.*#'
        - '#Constant.*not found.*#'