parameters:
    level: 8
    paths:
        - src
    bootstrapFiles:
        - phpstan-bootstrap.php
    ignoreErrors:
        - '#Function wp_[a-z_]+ not found#'
        - '#Constant [A-Z_]+ not found#'
    wordpress:
        constantsFile: wp-constants.php
        functionsFile: wp-functions.php
