@theme {
  --color-primary: #003044;
  --color-onPrimary: #ffffff;
  --color-primaryContainer: #004f6d;
  --color-onPrimaryContainer: #ffffff;
  --color-secondary: #142f3d;
  --color-onSecondary: #ffffff;
  --color-secondaryContainer: #334c5b;
  --color-onSecondaryContainer: #ffffff;
  --color-tertiary: #411a53;
  --color-onTertiary: #ffffff;
  --color-tertiaryContainer: #613973;
  --color-onTertiaryContainer: #ffffff;
  --color-error: #600004;
  --color-onError: #ffffff;
  --color-errorContainer: #98000a;
  --color-onErrorContainer: #ffffff;
  --color-background: #f7f9fd;
  --color-onBackground: #181c1f;
  --color-surface: #f7f9fd;
  --color-surfaceDim: #b6b9bc;
  --color-surfaceBright: #f7f9fd;
  --color-surfaceContainerLowest: #ffffff;
  --color-surfaceContainerLow: #eff1f4;
  --color-surfaceContainer: #e0e3e6;
  --color-surfaceContainerHigh: #d2d5d8;
  --color-surfaceContainerHighest: #c4c7ca;
  --color-onSurface: #000000;
  --color-surfaceVariant: #dbe4eb;
  --color-onSurfaceVariant: #000000;
  --color-outline: #252d33;
  --color-outlineVariant: #424a50;
  --color-shadow: #000000;
  --color-scrim: #000000;
  --color-inverseSurface: #2d3134;
  --color-inverseOnSurface: #ffffff;
  --color-inversePrimary: #87cff9;
}

[data-theme="dark"] {
  --color-primary: #e2f2ff;
  --color-onPrimary: #000000;
  --color-primaryContainer: #83cbf5;
  --color-onPrimaryContainer: #000d15;
  --color-secondary: #e2f2ff;
  --color-onSecondary: #000000;
  --color-secondaryContainer: #acc6d8;
  --color-onSecondaryContainer: #000d15;
  --color-tertiary: #fdeaff;
  --color-onTertiary: #000000;
  --color-tertiaryContainer: #e2b1f5;
  --color-onTertiaryContainer: #180026;
  --color-error: #ffece9;
  --color-onError: #000000;
  --color-errorContainer: #ffaea4;
  --color-onErrorContainer: #220001;
  --color-background: #101416;
  --color-onBackground: #e0e3e6;
  --color-surface: #101416;
  --color-surfaceDim: #101416;
  --color-surfaceBright: #4d5053;
  --color-surfaceContainerLowest: #000000;
  --color-surfaceContainerLow: #1d2023;
  --color-surfaceContainer: #2d3134;
  --color-surfaceContainerHigh: #383c3f;
  --color-surfaceContainerHighest: #44474a;
  --color-onSurface: #ffffff;
  --color-surfaceVariant: #40484e;
  --color-onSurfaceVariant: #ffffff;
  --color-outline: #e9f1f8;
  --color-outlineVariant: #bbc4cb;
  --color-shadow: #000000;
  --color-scrim: #000000;
  --color-inverseSurface: #e0e3e6;
  --color-inverseOnSurface: #000000;
  --color-inversePrimary: #004e6b;
}